.hidden {
    display: none;
}

#dropdown {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid hsl(0, 0%, 80%);
    max-height: 200px;
    overflow-y: auto;
}

#dropdown li {
    padding: 8px;
    cursor: pointer;
}

#dropdown li:hover {
    background-color: hsl(0, 0%, 94%);
}